.btn_categories {
    width: 148px;
    height: 48px;
    padding: 14px 24px;
    background-color: #E2D4F0;
    border: none;
    border-radius: 14px;
    color: black;
    font-size: 14px;
    margin-right: 14px;
}

.btn_categories:hover, .btn_categories:focus{
    background-color: #7126B5;
    color: white;
}

.fa-search {
    font-size: 16px;
    padding-right: 2px;
}
