.nav-header {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.search-bar {
    text-decoration: none;
    background-color: #EEEEEE;
    border-radius: 12px;
}

.icons-menu {
    width: 100%;
    font-size: 16px;
    height: 39px;
}

.notif-badge{
    padding: 3px !important;
    left: 1.5rem;
    bottom: 1rem;
}
.notif-card:hover{
    background-color: unset !important;
    color: black !important;
}

.icons-menu:hover{
    color: #7126B5;
    border-color: white;
}

.btn_primary {
    width: 100%;
    background-color: #7126B5;
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 12px;
    height: 39px;
}

.logout-btn {
    width: 100%;
    background-color: #E2D4F0;
    border: none;
    border-radius: 12px;
    color: black;
    font-size: 12px;
    height: 39px;
}

.logout-btn:hover{
    color: white;
    background-color: #7126B5;
}

a {
    text-decoration: none;
}

.btn_primary:hover{
    color: white;
    background-color: #7126B5;
}

button:focus,
button:active,
.icons-menu:active,
.icons-menu.active
{
    outline: 0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}


.fa-sign-in-alt {
    font-size: 18px;
    padding-right: 8px;
}

@media (max-width: 767.9px) { 
    .logo-img {
        display: none;
    }
}

    .dropdown-item {
        left: -100px;
    }
    .dropdown-menu.show{
        margin: 100px;
    }


@media only screen and (max-width: 990px){
    .header{
        display: none;
    }

}