* {
    font-family: 'Poppins';
}

.title{
    text-align: center;
    font-size: 16px;
}

.fa-arrow-left {
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.form_produk {
    height: 100%;
    width: 100%;
    font-size: 12px;
    margin-top: 30px;
}

.field_produk {
    border: 1px solid #D0D0D0;
    border-radius: 14px;
    height: 48px;
    font-size: 14px;
    margin-bottom: 12px;
}

.field_deskripsi {
    border: 1px solid #D0D0D0;
    border-radius: 14px;
    font-size: 14px;
    margin-bottom: 12px;
}

.button {
    margin-top: 25px;
    text-align: center;
}

.btn_preview {
    width: 45%;
    border: 1px solid #7126B5;
    border-radius: 14px;
    font-size: 14px;
    height: 48px;
    margin-right: 20px;
}

.btn_preview:focus {
    border: 1px solid #7126B5 !important;
}

.btn_terbitkan {
    width: 45%;
    background-color: #7126B5;
    border: none;
    border-radius: 14px;
    color: white;
    font-size: 14px;
    height: 48px;
}

.btn_terbitkan:focus {
    background-color: #7126B5;
    color: white !important;
}

option[value=""][disabled] {
    display: none
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: auto;
}

.icon_cross {
    top: 0;
    right:0;
    padding: 5px;

}

@media (max-width: 576px) { 
    .btn_preview {
        width: 48%;
    }
    
    .btn_terbitkan {
        width: 48%;
    }

    .icon_cross {
        top: 0;
        right:20px;
        padding: 5px;
    }
}

@media (max-width: 767.98px) { 
    .btn_preview {
        width: 45%;
    }
    
    .btn_terbitkan {
        width: 45%;
    }
}

@media (max-width: 575.98px) { 
    .back-button {
        display: none;
    }
 }

 @media (max-width: 991.98px) { 
    .back-button {
        display: none;
    }
 }