.text_modal {
    font-size: 14px;
}

.card_tawar{
    display: grid;
    grid-template-columns: min-content 1fr;
    background: #EEEEEE;
    border-radius: 16px;
    font-size: 12px;
    line-height: 10px;
    border: #EEEEEE;
}

.btn_kirim {
    background-color: #7126B5;
    border: none;
    border-radius: 14px;
    color: white;
    font-size: 14px;
    height: 48px;
}