.page-link {
    color: black;
}

.active>.page-link,
.page-link:active {
    text-decoration: none;
    box-shadow: white;
    background-color: #7126B5;
    color: white;
    border-color: #7126B5;
}