.page-link {
    color: black;
}

.btn_active {
    background-color: #7126B5 !important;
    color: white !important;
}


.active>.page-link,
.page-link:active {
    text-decoration: none;
    box-shadow: white;
    background-color: #7126B5;
    color: white;
    border-color: #7126B5;
}